#todo {
  display: none;
}

.task{
  cursor: pointer;
}

.task:hover {
  color: #0088cc;
  text-decoration: underline;
}

.highPriority {
  color: red;
}

.medPriority {
  color: orange;
}

.lowPriority {
  color: green;
}

ul{
    list-style-type: none;
}
